.wrapper {
  display: flex;
  align-items: center; }

.quarter {
  display: flex;
  flex-flow: column; }

.semi {
  display: flex;
  flex-flow: column;
  margin-left: 25px; }

.first-round {
  display: flex;
  flex-flow: column;
  margin: 5px;
  margin: inherit; }

.semi-one {
  display: flex;
  flex-flow: column;
  margin-bottom: 100px; }

.semi-two {
  display: flex;
  flex-flow: column; }

.first {
  padding: 10px;
  margin: 10px; }

.second {
  padding: 10px;
  margin: 10px; }

.final {
  padding: 10px;
  margin: 35px; }

.group {
  display: flex;
  flex-flow: column;
  margin: 5px; }

input + input {
  margin-top: 5px; }

.header {
  display: flex;
  align-items: center; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(359deg); } }

#pong {
  animation: spin 2s linear infinite; }

body {
  background-color: #536171;
  margin: 0px; }

h1 {
  font-family: 'NunitoBoldItalic' Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: white; }

.title {
  display: flex;
  flex-direction: column; }

.lead {
  margin: 20px auto;
  line-height: 25px;
  color: #fff; }

.instructions {
  margin: 5px auto;
  line-height: 15px;
  color: #de5e5e; }

.wrapper {
  margin: 20px auto;
  line-height: 25px; }

.player-creation{
  margin-top: 34px;
}
input {
  margin-left: 73px;
  border-radius: 8px;
  width: 200px;
  height: 37px;
  padding: 5px; }

.input {
  margin-left: 100px;
  background-color: #53f348e3;
  border: yellowgreen; }

button {
  border-radius: 8px;
  height: 30px;
  padding: 7px;
  background-color: #de5e5e; }

header {
  display: flex; }

.footer {
  display: flex;
  justify-content: space-evenly;
}

.wrapper {
  background-image: url(./../images/tennis-1141702_1280.jpg);
  background-size: cover; 
}

.first-round-input,
.second-round-input,
.final-round-input {
  background-color: #53f348e3; 
}

.first-round-input.available,
.second-round-input.available,
.final-round-input.available {
  background-color: white; 
}

@media screen and (max-width: 400px) {

  input{
    margin-left:0px;
    width:  100px; 
  }

  .wrapper{

    background-image: url(./../images/tennis-1141702_1280.jpg);
    background-size: cover; 
    width: fit-content;

  }

  h1{
    text-align: center;
  }

  .input{
    margin-left: -65px;
  }
  

  .footer {
    display: none;
  }

  .instructions{
    text-align: center;
  }

  .title{
    text-align: center;
  }

  header{
    margin-left: -27px;
  }
  
  .lead{
    margin: 20px 20px 20px 148px;
    text-align: left;
  }

  .instructions{
    margin: 5px 5px 5px 36px;
  }
}
